body{
    padding: 50px;
}
header{
    margin-bottom: 32px;
}
header h1{
    margin-left: 55px;
    margin-top: -38px;
    font-size: 22px;
    font-weight: bold;
}
header p{
    margin-left: 55px;
    margin-top: 2px;
    font-size: 12px;
}
header nav .icon{
    float: right;
    margin-top: -32px;
    margin-right: 82px;
}
header nav .icon li{
    display: inline-block;
}
header nav .icon1{
    float: right;
    margin-top: -32px;
}
header nav .icon1 li{
    display: inline-block;
}
.contant{
    margin-bottom: 30px;
}
.contant h1{
    font-size: 30px;
    font-weight: bold;
}
.contant a{
    text-decoration: none;
    float: right;
    color: #ddd;
    font-size: 10px;
    margin-top: -12px;
}
.exImg{
    width: 100%;
    margin-bottom: 50px;
}
.paragraphs{
    text-indent: 50px;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 50px;
    padding: 10px 10px;
    line-height: 1.2;
}
.paragraphs p{
    margin-bottom: 50px;
}
.noteImg{
    width: 100%;
    margin-bottom: 50px;
}
.list{
    margin-top: -455px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 30px;
    width: 595px;
}
.list input{
    margin-bottom: 11px;
}
.list p{
    margin-left: 50px;
    margin-top: -48px;
    font-size: 30px;
    line-height: 1.54;
    margin-bottom: 15.5px;
}
.list1{
    margin-top: -330px;
    margin-bottom: 50px;
    margin-left: 828px;
    font-size: 30px;
    width: 595px;
}
.list1 input{
    margin-bottom: 12px;
}
.list1 p{
    margin-left: 50px;
    margin-top: -46px;
    font-size: 30px;
    line-height: 1.468;
    margin-bottom: 14px;
}
footer{
    margin-top: 168px;
}
.sec1{
    margin-top: 30px;
    margin-bottom: 80px;
}
.sec1 img{
    padding: 0 10px;
}
.sec1 h1{
    margin-left: 95px;
    margin-top: -62px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}
.sec1 p{
    margin-left: 98px;
    font-size: 15px;
    width: 440px;
}
.sec1 button{
    float: right;
    margin-top: -58px;
    width: 200px;
    height: 50px;
    background-color: #c65c5c;
    border: none;
    color: #f5f5f5;
}
.fooImg{
    margin-top: -42px;
    padding: 0 695px;
}
.fooP{
    text-align: center;
    color: #ddd;
}
.hr{
    background-image: url('img/hr-img.png');
    width: 100%;
    height: 15px;
    margin-bottom: 80px;
}
